* {
    margin: 0;
    padding: 0;
}
.page {
    width: 92%;
    margin: 0 auto;
}
.mp-userinfo__pic {
    padding-top:60%;
    background-color: red;
    background-image: url('https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1098247071,2931357513&fm=26&gp=0.jpg');
    background-size: 100%;
}
.mp-userinfo__name{
    font-weight: bold;
    position: relative;
}
.mp-userinfo__name::before{
    contain:'';
    background:url('./icon/xingbienv.png');
    display: inline-block;
    position: absolute;
}